@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-dark text-white;
}

.gradient-card {
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-clip: padding-box;
    border: solid 2px transparent;
    border-radius: 8px;
}

.gradient-card:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(140deg, #969696, #343434);
}
